@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-size: 2em;
    padding: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 150px;
    height: auto;
    display: block;
    margin: 0 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body{
    font-family: "Lato", sans-serif;
    background-color: #f0f0f0;
    background-image: linear-gradient(315deg, #afa1a1 0%, #867ef5 74%)  ;
    align-items: center;
    justify-content: center;
    border: double 5px #000;
    display: flex;
    flex-direction: column;
}

.layout_superior{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.introducao{
    background-color: #d1e7dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 200px;
    flex: 10%;
}

.introducao p{
    font-size: 1.2em;
    padding: 2%;
}

.regras{
    background-color: #fff3cd;
    padding: 20px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 5%;
    flex: 10%;
}

.regras li{
    margin-left: 4%;
}

.layout_inferior{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
}

.envioChute{
    background-color: #cff4fc;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 313px;
    height: 150px;
}

.retorno{
    background-color: #e2e3e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 30px;
    width: 313px;
    height: 150px;
}

.retorno p{
    margin-top: 20px;
    margin-left: 5%;
}

.tentativas{
    background-color: #f8d7da;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 30px;
    width: 313px;
    height: 150px;
}

.tentativas p{
    margin-top: 7px;
    margin-left: 5%;
}